<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/vaporeon.css}" rel="stylesheet" />
    <title th:text="${title}"></title>
</head>
<body>

<div class="imgContainer">
    <div>
<img src="https://www.facebook.com/messenger_media/?attachment_id=7330676046981743&message_id=mid.%24cAAAAAA-PAl-Us6nGUmOgmSAMTOwS&thread_id=680177176">
</div>

    <div>
        <p> PRESS WHEN VAPOREON </p>
    </div>

<div class="wrapper">
    <input type="checkbox">
    <label><i class='icon-off'></i></label>
</div>
</div>

<script>

</script>


</body>
</html>