<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/vaporeon.css}" rel="stylesheet" />
    <title th:text="${title}"></title>
</head>
<body>

<div class="imgContainer">
    <div>
<img src="https://i.imgur.com/m1Jeesw.png">
</div>

    <div>
        <p> PRESS WHEN VAPOREON </p>
    </div>

<div class="wrapper">
    <input type="checkbox">
    <label><i class='icon-off'></i></label>
</div>
</div>

<script>

</script>


</body>
</html>