<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/vaporeon.css}" rel="stylesheet" />
    <title th:text="${title}"></title>
</head>
<body>
<div class="imgContainer">
    <div>
<img src="https://scontent-ord5-2.xx.fbcdn.net/v/t1.15752-9/432893214_7330676050315076_8828769596092177768_n.png?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=UbxTWOiu1IgAX-VfS_u&_nc_ht=scontent-ord5-2.xx&oh=03_AdSxoxdKCZPDBQWLOG4WH81tlkBP52iX9Io_s4GEOYg_Vg&oe=662C128D">
</div>

<div class="action-btns">
    <button class="btn">VAPOREON</button>

</div>
</div>
<script src="script.js"></script>

</script>
</body>
</html>